.container{
    border:solid blue;
    background-color:black;
    color:salmon;
    border-width:.3px;
    text-align:center;
    border-radius:22px;
}
.container:hover{
    border:solid blue;
    background-color:black;
    color:white;
    border-width:.3px;
    text-align:center;
    border-radius:22px;
}